 {% load staticfiles %}
    <html>
    
        <head>
            <title>НПЦ Дамир</title>
            <link rel="stylesheet" href="{% static "css/news.css" %}">
        </head>
        
        <body>
	    <div id = "header">
        	<img src="" alt="logo"/>
        	ул. Пугачева 49, тел. , имэил
            </div>
            
            <div class = "navigation">
            
        	<ul>
        	    <li>Новости</li>
        	    <li>Вакансии</li>
        	    <li>Услуги</li>
        	    <li>Запчасти</li>
        	    <li>О Нас</li>
        	</ul>
            </div>
            
            <div class = "wrapper">
                    {% block content %}
                    {% endblock %}
            </div>
            
            <footer
                
        </body>
    </html>